# The sole configuration file for the Caddy web server.

# The server should accept all connections on port 80. We _should not_ specify
# `localhost:80` or `mattjmcnaughton.com:80` here, because then either
# development or production requests will be rejected.
:80

# At least for now, we're unsure as to how we'll manage TLS. Most likely it will
# be at a Kubernetes level, as opposed to an individual application level, so we
# turn Caddy specific tls off for now.
tls off

# Enable the `prometheus` plugin.
prometheus {
  # Serve metrics at the same address/port as Caddy. In other words,
  # we can access metrics via `mattjmcnaughton.com/metrics`. Since these metrics
  # are not sensitive, we have no concerns about making them publicly available.
  use_caddy_addr
}

# Send logs to stdout to conform with 12 factor applications.
log stdout
errors stdout
